<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>


<div class="container-fluid">
    <div class="row row-2">
        <h2>All Products</h2>
        <select>
            <option value="#">Default</option>
            <option value="#">Sort by price</option>
            <option value="#">Sort by popularity</option>
            <option value="#">Sort by rating</option>
            <option value="#">Sort by sale</option>
        </select>
    </div>
</div>
<div class="container">
    <% if ( prods.length > 0 ) { %> 
        <div class="row">       
                <% for ( let product of prods) { %>
            <!-- Products -->
          <div class="product-grid">
            <div class="image">
              <a href="#">
                <img src="<%= product.imageUrl %>" class="w-100" alt="<%= product.title %>">
                <div class="overlay">
                  <div class="detail">View Detail</div>
                </div>
              </a>
            </div>
            <h5 class="text-center"><%= product.title %></h5>
            <h5 class="text-center">Rs.<%= product.price %></h5>
            <a href="#" class="btn btn-cart">EDIT</a>
            <a href="#" class="btn btn-cart">DELETE</a>
          </div>
          <!-- /Products -->
        <% } %>
        </div>
        <% } else { %>
            <div class="alert alert-danger" role="alert">
                <h4>No Product Found</h4>
              </div>                        
        <% } %>
    </div>               
            
    <div class="row">
        <div class="pagination">
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>&#8594;</span>
            </div> 
        </div>
        </div>

</div>      <!-- Header End -->
    

<%- include('../includes/footer.ejs') %>

<!-- <span class="rating">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star-o"></i>
</span> -->