<!-- All Product slider -->
<% if ( allProducts.length > 0 ) { %>
<div id="wrapper">
    <div class="container-fluid">
        <div class="product-heading">
            <div class="product-title">
                <h4 class="prod-title">All Products</h4>
            </div>
            <div class="heading-btn">
                <a href="#" class="btn btn-primary">View All</a>
            </div>
        </div>
        <hr>
    <div class="owl-carousel owl-theme">
        <% for ( let product of allProduct) { %>
        <div class="item">
            <div class="product-cards">
                <div class="shadow"></div>
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
                <div class="image_overlay"></div>
                <div id="view_details">
                    <a href="/details/<%= product._id %>">View Details</a>
                </div>
                <div class="detail">        	
                    <div class="detail-container">
                        <span class="product_name"><%= product.title %>...</span>    
                            <p>ratings</p> 
                            <span class="product_price">Rs.<%= product.price %></span>                  
                            <span class="product_old_price">Rs.<%= product.price %></span>
                            <div class="product-options">
                                <a href="#" class="btn product-btn">WishList</a>                                
                                <%- include('../includes/add-to-cart.ejs', {product: product}) %>                                  
                        </div>                                           
                    </div>                         
                </div>
            </div>
        </div>
        <% } %>        
    </div>
</div>
</div>
<% } %>


<!-- /All Product slider -->
