<main>
<%- include('first-slider.ejs') %>
<%- include('categories-slider.ejs') %>
<%- include('feature-slider.ejs') %>
<%- include('offer-slider.ejs') %>
<%- include('popular-slider.ejs') %>
<%- include('exclusive.ejs') %>
<%- include('recent-slider.ejs') %>
<%- include('allProducts-slider.ejs') %>

</main>