<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>

<div id="detail-wrapper">
    <div class="row">
    <div class="detail-images">
        <div class="product-img">
        <img src="<%= product.imageUrl %>" alt="<%= product.title %>" width="100%" id="detailMainImg" xoriginal="./images/blue-speaker2.jpg">
        <div class="small-img-row">
            <div class="small-img-col">
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>" width="100%" class="small-img" xpreview="./images/blue-speaker2.jpg">
            </div>
            <!-- <div class="small-img-col">
                <img src="images/fan-table.png" alt="fan-table" width="100%" class="small-img">
            </div>
            <div class="small-img-col">
                <img src="images/mainspeaker.jpg" alt="mainspeaker" width="100%" class="small-img">
            </div>
            <div class="small-img-col">
                <img src="images/cup-girl.jpg" alt="cup-girl" width="100%" class="small-img">
            </div> -->
        </div>
    </div>
    <div class="product-btn">
    <span>
        <%- include('../includes/add-to-cart.ejs', {product: product}) %>
    </span>
    <span><a href="" class="btn">Move To WishList</a></span>
    </div>
    </div>
    <div class="detail-descriptions">
        <div class="product-description">
        <p>Home / categories</p>
        <h1><%= product.title %></h1>
        <h4>Rs.<%= product.price %></h4>
        <h6>Rs.<%= product.price %></h6>
        <select>
            <option value="">Select Size</option>
            <option value="">XXL</option>
            <option value="">XL</option>
            <option value="">L</option>
            <option value="">M</option>
            <option value="">S</option>
        </select>
        <input type="number" value="1" class="detail-qty" />
        

        <h3>Product Details</h3>
        <p>
            Rs.<%= product.description %>
        </p>
    </div>
    </div>
</div>
</div>

<%- include('../includes/related-slider.ejs') %>

<%- include('../includes/footer.ejs') %>