<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>
<div class="cart_navigation">
    <div class="myOrder">
        <h3 class="p-3">Order Details</h3>
    </div>
    <!-- <div class="middle_content">
        <div class="bag">BAG ----</div>
        
        <div class="address">ADDRESS ----</div>
        
        <div class="payment">PAYMENT</div>
        
    </div> -->
    <div class="secure">
        <i class="fas fa-lock"></i>
        <p>100% secure</p>
    </div>
</div>
<% if (orders.length <= 0) { %>
    <div class="container">
        <div class="alert alert-danger my-5" role="alert">
        <h4 class="text-center">******You Do Not Have Items In Your Cart******</h4>
        </div> 
    </div>  
<% } else { %>   

<div class="cart-wrapper">
    
    <div class="wrapper_content">
        <div class="header_title">
            <div class="title">
                <p>Order ID : <%= orders._id %></p>
            </div>
            
            <div class="amount">
                <p>Total Items ( 4 )</p> 
            </div>
        </div>
        <!-- Regular Orders -->            
        <% orders.products.forEach(p => { %>
            <div class="product_wrap">            
                <div class="product_info">
                    <div class="product_img">
                        <img src="<%= p.product.imageUrl %>" alt="<%= p.product.title %>" width="200px" height="200px">
                    </div>
                    <div class="product_data">
                        <div class="description">
                            <div class="main_header">
                                <%= p.product.title %>
                            </div>
                            <div class="sub_header">
                                <%= p.product.description %>
                            </div>
                        </div>
                        <div class="qty">
                            <div class="size_select">
                                <p>Size : <span>9</span></p>
                            </div>
                            <div class="qty_select">
                                <p>Qty : <span><%= p.quantity %>"</span></p>
                            </div>
                        </div>
                        <div class="price">
                            <div class="current_price">Rs.<%= p.product.price %></div>
                            <div class="normal_price">$30</div>
                            <div class="discount">15% OFF</div>
                        </div>
                    </div>
                </div>
                <div class="cart_btns">
                    <form action="/orders/details/delete" method="POST">
                        <input type="hidden" name="productId" value="<%= p.product._id %>">
                        <button class="remove" type="submit">REMOVE</button>
                    </form>
    
                    <form action="/orders/details/delete" method="POST">
                        <input type="hidden" name="productId" value="<%= p.product._id %>">
                        <div class="wishlist">MOVE TO WISHLIST</div>
                    </form>
                </div>                
            </div>       
        <% }) %>        
        <!-- /Regular Orders -->        
        <div class="slider">
            <div class="bg_shadow"></div>
            <div class="select_size">
                <div class="header">
                    <div class="slider_title">Select Size</div>
                    <div class="close">X</div>
                </div>
                <div class="body">
                    <ul>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li class="active">9</li>
                        <li>10</li>
                    </ul>
                </div>
                <div class="cart-footer">
                    <div class="button">DONE</div>
                </div>
            </div>
            <div class="select_quantity">
                <div class="header">
                    <div class="slider_title">Select Quantity</div>
                    <div class="close">X</div>
                </div>
                <div class="body">
                    <ul>
                        <li class="active">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                    </ul>
                </div>
                <div class="cart-footer">
                    <div class="button">DONE</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="wrapper_amount">
        <div class="header_title">
            <div class="title">
                <p>Recent Order Summary:</p> 
            </div>
        </div>
        <div class="price_details">
                      
            <div class="price_item">
                <p>Order Total :</p>
                <p>Rs.25</p>
            </div>
            <div class="price_item">
                <p>Tax :</p>
                <p>13%</p>
            </div>
            <div class="price_item">
                <p>Shipping Charges :</p>
                <p><span style="text-decoration: line-through;">Rs.5</span> <span class="green">FREE</span></p>
            </div>
            <div class="price_item">
                <p>Coupon Discount :</p>
                <p>Rs.10</p>
            </div>
            <div class="total">
                <p>Total :</p>
                <p>Rs.25</p>
            </div>
        </div>
        <!-- <div class="checkout">
            <a href="#" role="button" class="checkout_btn"></a>
        </div>
        <div class="continue">
            <a href="/" role="button" class="checkout_btn">&#8592 Continue Shopping</a>
        </div> -->
    </div>
</div>
<% } %>


<%- include('../includes/footer.ejs') %>